:root {
	--chart-light: rgb(250, 245, 245);
	--chart-dark: rgb(19, 14, 34);
}

body.vscode-light,
body.vscode-high-contrast .vscode-light {
	color: var(--chart-dark);
}

body.vscode-dark,
body.vscode-high-contrast .vscode-dark {
	color: var(--chart-light);
}

.vscode-light .chart,
.vscode-high-contrast .vscode-light .chart {
	background-color: var(--chart-light);
	border: 1px solid var(--chart-dark);
}

.vscode-dark .chart,
.vscode-high-contrast .vscode-dark .chart {
	background-color: var(--chart-dark);
	border: 1px solid var(--chart-light);
}

.nav__container {
	display: flex;
	align-items: center;
	width: 100svw;
}

.nav__container h1 {
	margin: 0 auto;
	font-size: 3rem;
	letter-spacing: 0.2rem;
}

.section__container {
	max-width: 100svw;
	min-height: 100svh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.chart__container:nth-child(2) .chart__heading,
.chart__container:nth-child(3) .chart__heading,
.chart__container:nth-child(5) .chart__heading,
.chart__container:nth-child(6) .chart__heading,
.chart__container:nth-child(8) .chart__heading,
.chart__container:nth-child(9) .chart__heading {
	visibility: hidden;
}

.chart {
	display: flex;
	align-items: center;
	height: 300px;
	border-radius: 4px;
	padding: 0.5rem;
}
