body.vscode-light {
	color: red;
}

body.vscode-dark {
	color: pink;
}

body.vscode-high-contrast {
	color: red;
}

.nav__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 3rem;
}

.section__container {
	max-width: 100svw;
	min-height: 100svh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.chart {
	background: pink;
	display: flex;
	align-items: center;
	max-height: 300px;
}
